#include "FEResources.h"

STRINGTABLE DISCARDABLE
BEGIN /*{*/
IDS_APPLICATION_NAME, "Objet 500"
IDN_HSW_MAX_PRINT_NUM_IN_AXIS_X, "1"
IDN_HSW_SPACE_BETWEEN_WT_BARS, "71"
IDN_Y_MOVE_RELATIVE_POSITION, "2500"
IDS_QR_HELP_MOVIE_FILE_NAME,  "\\Help\\Movies\\SHRMovie.mpg"
END /*}*/

STRINGTABLE DISCARDABLE
BEGIN /*{*/
IDN_PRINTER_TYPE, "16"
END /*}*/
