<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Domain" value="Stratasys"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint name="VLLEndPoint"
                address="net.tcp://IL01PSVCBS01.stratasys.dmn:59000/IVll"
                binding="netTcpBinding" contract="CBS.VLL.Contracts.IVll" />
    </client>
  </system.serviceModel>
</configuration>