<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>

    <!-- Supported languages: he-IL for Hebrew, en-US for English -->
    <add key="Culture" value="en-US"/>
    <!-- Type of station -->
    <add key="StationType" value="Standalone"/>
    <add key="StationName" value="Keshet"/>

    <!-- Chassis settings -->
    <!-- Each entry declaring chassis support -->
    <!-- M: model material -->
    <!-- S: support material -->
    <!-- B: burning -->
    <!-- V: verification -->
    <add key="Chassis_0" value="MSBV"/>
    <add key="Chassis_1" value="MSBV"/>
    <add key="Chassis_2" value="MSBV"/>
    <add key="Chassis_3" value="MSBV"/>

    <!-- True to use simulator; otherwise, False. -->
    <add key="UsePlcSimulator" value="False"/>
    <!-- Port to use PLC -->
    <add key="PlcPort" value="COM1"/>
    <!-- Timeout for PLC operations in milliseconds -->
    <add key="PlcCallTimeout" value="2000"/>
    <!-- Interval in milliseconds between two successive calls to GetInPlaceStatus-->
    <add key="InPlaceStatusInterval" value="1000"/>
    <!-- Duration of active buzzer in seconds-->
    <add key="BuzzDuration" value="5"/>
    <!-- True to reset tags and prepare them for burning. -->
    <add key="ResetTags" value="False"/>
    <!-- Device password as hexadecimal string -->
    <add key="DevicePassword" value="C908010C049D31876FEFE6DBF746CE2DB041327492B1BD724B7889D80C0E5995"/>
    <!--<add key="DevicePassword" value="69B0E80F265A83D6985A63E72E2FC1AC71843FA5F6B9EBAA50A78FA3F06433E0"/>-->
    <!-- Burning DB timeout in seconds-->
    <add key="BurningDBTimeout" value="1"/>
    <!-- Log level: Normal or Debug-->
    <add key="ExecutionMode" value="Normal"/>
    <!-- Excel file format: CSV or XSLX-->
    <add key="ExportFileFormat" value="xslx"/>
    <!-- Domain -->
    <add key="Domain" value="Stratasys"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingConfiguration" openTimeout="01:00:00" closeTimeout="01:00:00" sendTimeout="01:00:00" receiveTimeout="00:01:00"/>
        <!--<binding name="NetTcpBindingConfiguration" openTimeout="00:00:05" closeTimeout="00:00:05" sendTimeout="00:00:10" receiveTimeout="00:00:10"/>-->
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://IL01PSVCBS01.stratasys.dmn:59000/ITagInfoProvider"
                binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfiguration"
                contract="BSS.Contracts.ITagInfoProvider" name="TagInfoProviderEndPoint">
      </endpoint>
      <endpoint address="net.tcp://IL01PSVCBS01.stratasys.dmn:59000/IHsm"
                binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfiguration"
                contract="Hsm.Contracts.IHsm" name="HsmEndPoint">
      </endpoint>
      <endpoint address="net.tcp://IL01PSVCBS01.stratasys.dmn:59000/IReport"
                binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfiguration"
                contract="BSS.Contracts.IReport" name="ReportEndPoint">
      </endpoint>
      <!--<endpoint address="net.tcp://localhost:59000/ITagInfoProvider"
                binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfiguration"
                contract="BSS.Contracts.ITagInfoProvider" name="TagInfoProviderEndPoint">
      </endpoint>
      <endpoint address="net.tcp://localhost:59000/IHsm"
                binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfiguration"
                contract="Hsm.Contracts.IHsm" name="HsmEndPoint">
      </endpoint>
      <endpoint address="net.tcp://localhost:59000/IReport"
                binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfiguration"
                contract="BSS.Contracts.IReport" name="ReportEndPoint">
      </endpoint>-->
    </client>
  </system.serviceModel>

  <log4net>
    <!-- This stores information in the RSBSS.log file. -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="RSBSS.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <datePattern value="yyyyMMdd"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %message%newline%exception"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="BSS.App.ViewModel.MainViewModel"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <appender name="LogViewModelAppender" type="BSS.App.Appenders.LogViewModelAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{DATE} %-5level: %message%newline%exception"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="BSS.App.ViewModel.MainViewModel"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="LogViewModelAppender"/>
    </root>

    <logger name="IdtSrv">
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>

  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>

</configuration>
