#include "Resources.h"

STRINGTABLE DISCARDABLE
BEGIN
  IDS_APPLICATION_NAME,      "OBJET500"
  IDS_APPLICATION_VERSION,   "58.11.0.0"
  IDS_STOP_BUTTON_TOP_POS,   "670"
  IDS_STOP_BUTTON_LEFT_POS,  "240"
  IDS_SHUTDOWN_WIZARD_PAGES, "4"
END
