#include "Resources.h"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_APPLICATION_NAME    "Objet500"
    IDS_APPLICATION_VERSION "58.1.0"
    IDS_REQUEST_MESSAGE,    "DO_POWERFAIL_PROCEDURE"
    IDS_RESPONSE_MESSAGE,   "DOING_POWERFAIL_PROCEDURE"
    IDS_PIPE_NAME,          "\\\\.\\pipe\\powerfailmessagepipe"
END
